/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body
{
    background-color: #000000;
    height: 100%;
    width: 100%;
}

body
{
    margin: 0;
    font-size: 1.5em;
}

.clearfix {
    clear: both;
}

.breakall {
  word-break: break-all;
}

/*container formatting*/
#container
{
    width: 95%;
    margin: 0 auto;
    height: 100%;
    min-height: 700px;
}

.innerContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
}

/* main tag formatting */
.headerBar
{   background-color: #003366;
    background-image: -webkit-gradient(
    	linear,
    	right bottom,
    	right top,
    	color-stop(0, #003366),
    	color-stop(1, #D5D4D4)
    );
    background-image: -o-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: -moz-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: -webkit-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: -ms-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: linear-gradient(to top, #003366 0%, #D5D4D4 100%);

    color: #FFF8DC;
    padding: 0 1%;

    img {
      opacity: .7;
      max-width: 100%;
    }
}

.topNav
{
    background-color: #CCCC99;
    color:#00aeae;

    a {
      margin: 0;
      display: inline-block;
      &:link{color: #003366; padding:10px;}
      &:visited { color: #00aeae; }
      &:hover { background-color:#000000; color:#ffffff; }
      &:active { color: #ff0000; }
    }
}

.sideNav
{
    font-size: .8em;
    float: left;
    width: 15%;
    background-color: #834C24;
    height: 70%;
    padding: 0px 1%;

    a {
      display: block;
    }
}


.mainContent
{
    width: 69%;
    background-color: #ffffff;
    height:70%;
    overflow-y: scroll;
    padding-right: 1%;
    padding-left: 1%;
    float: left;

    a {
      color: grey;
    }
}


.rightAside
{
    float: right;
    width: 10%;
    background-color: #834C24;
    height: 70%;
    padding: 0px 1%;

}

.btmFooter
{
   background-color: #003366;
    background-image: -webkit-gradient(
    	linear,
    	right top,
    	right bottom,
    	color-stop(0, #003366),
    	color-stop(1, #D5D4D4)
    );
    background-image: -o-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: -moz-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: -webkit-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: -ms-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: linear-gradient(to bottom, #003366 0%, #D5D4D4 100%);
    color: #FFF8DC;
    clear: both;
    padding-left: 1%;
}

/* additional tag formatting */
h2{color: #003366;}
h3{color: #FFF8DC;}
h4{color: #FFF8DC;}
h5{color: #000000;}

/* basic link */
a {
  text-decoration: none;
  &:link {color: #ffffff;}
  &:visited { color: #00aeae; }
  &:hover { color: #ffff00; }
  &:active { color: #ff0000; }
}

@media screen and (max-width: 780px) {
  .sideNav {
    width: 18%;
  }
  .rightAside {
    clear: both;
    height: auto;
    width: 98%;
  }
  .mainContent {
    width: 78%;
  }
}

@media screen and (max-width: 640px){
  .topNav {
    a {
      display: block;
      text-align: center;
    }
  }
  .sideNav {
    width: 98%;
    height: auto;
    a {
      display: inline-block;
      margin: 20px;
    }
  }
  .mainContent {
    clear: both;
    width: 98%;
  }
}