/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body
{
    background-color: #000000;
    height: 100%;
    width: 100%;
}

body
{
    padding: 1%;
    font-size: 1.5em;

}

/*container formatting*/
#container
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 200%;
}

/* main tag formatting */
.headerBar
{   background-color: #003366;
    background-image: -webkit-gradient(
    	linear,
    	right bottom,
    	right top,
    	color-stop(0, #003366),
    	color-stop(1, #D5D4D4)
    );
    background-image: -o-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: -moz-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: -webkit-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: -ms-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: linear-gradient(to top, #003366 0%, #D5D4D4 100%);

    /*border: 2px solid lime;*/

    color: #FFF8DC;
    padding-left: 1%;
    padding-right: 1%;
}
.topNav
{
    /*border: 2px solid blue;*/
    padding: 1%;
    background-color: #CCCC99;
    color:#00aeae;

}

.sideNav
{
    /*border: 2px solid yellow;*/
    font-size: .8em;
    float: left;
    width: 15%;
    background-color: #834C24;
    height: 70%;
    padding-left: 1%;

}


.mainContent
{
    /*border: 2px solid green;*/

    width: 70%;
    background-color: #ffffff;
    height:70%;
    overflow: scroll;
    padding-right: 1%;
    padding-left: 1%;
    float: left;
    /*position: absolute;*/

}


.rightAside
{
    /*border: 2px solid orange;*/
    float: right;
    width: 10%;
    background-color: #834C24;
    height: 70%;
    padding-left: 1%;
    padding-right: .5%;

}

.btmFooter
{
    /*border: 2px solid lime;*/
   background-color: #003366;
    background-image: -webkit-gradient(
    	linear,
    	right top,
    	right bottom,
    	color-stop(0, #003366),
    	color-stop(1, #D5D4D4)
    );
    background-image: -o-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: -moz-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: -webkit-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: -ms-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: linear-gradient(to bottom, #003366 0%, #D5D4D4 100%);
    color: #FFF8DC;
    position: relative;
    margin-top: 0px;
    clear:both;
    padding-left: 1%;
}

/* additional tag formatting */
h2{color: #003366;}
h3{color: #FFF8DC;}
h4{color: #FFF8DC;}
h5{color: #000000;}

/* basic link */
a:link {color: #ffffff;}

/* visited link */
a:visited { color: #00aeae; }

/* mouse over link */
a:hover { color: #ffff00; }

/* active link */
a:active { color: #ff0000; }

/* top Nav link format  */
.topNav a:link{color: #003366 }
.topNav a:visited { color: #00aeae; }
.topNav a:hover { background-color:#000000; border-radius:10px; padding:10px; color:#ffffff; }
.topNav a:active { color: #ff0000; }

a {text-decoration: none}
/* Website logo formatting*/
#spig
{
    padding-left: 1%;
    margin-right: 0;
}
#spork
{
    padding-left: 0;
    margin-left: 0;
}
