// Place all the styles related to the page controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
section h1{color: #003366;}
section h3{ color: #003366;}

dt {
      text-decoration: underline;
      font-size: 1.2em;
   }