// Place all the styles related to the page controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
section h1{color: #003366;}
section h3{ color: #003366;}

dt {
      text-decoration: underline;
      font-size: 1.2em;
   }

.mainArticle {
  border-bottom: 1px dashed midnightblue;
  text-align: justify;
  padding: 1%;
  &:nth-child(even){
    border-right: 1px dashed midnightblue;
  }
  &:nth-child(odd){
    border-left: 1px dashed midnightblue;
  }

  h3 {
    margin: 0;
  }
}