<h1>About the Admins:</h1>

<div id="krys">
  <%= image_tag("numbers.jpg", size: "90x90", alt: "Krys") %>
  <p>Krys's About me shpeel.</p>
</div>

<div id="brandon">
  <%= image_tag("m8brgarc_avatar.gif", size: "90x90", alt:"Brandon") %>
  <p>Brandon's About me shpeel.</p>
</div>

<div id="richard">
  <%= image_tag("matirx.jpg", size: "90x90", alt:"Richard")%>
  <p>Richard's About me shpeel.</p>
</div>

<div id="desi">
  <%= image_tag("angels.jpg",  size: "90x90", alt:"Deserai")%>
  <p>Deserai's About me shpeel.</p>
</div>

