<div class="splat">
  <%= link_to 'Tour', splash_tour_path, class: 'splash_btn' %>
  <%= link_to 'Login', splash_login_path, class: 'splash_btn' %>
  <%= link_to 'Register', new_user_registration_path, class: 'splash_btn' %>
  <div class="clearfix"></div>
</div>