
<h1>Splash#tour</h1>
<p>Find me in app/views/splash/tour.html.erb</p>

<h1> Enjoy the tour!</h1>

<div id="image_show">

  <!--image for slideshow is displayed here -->
  <%= image_tag("tour/tour1.jpg") %>

  <p></p>
  <!-- caption goes here -->

  <a href="#" onclick="prev_slide(); return false;">Previous Slide</a>&nbsp;

  <a href="#" onclick="next_slide(); return false;">Next Slide</a>&nbsp;

</div>