<!DOCTYPE html>
<html>
    <head>
      <meta content="text/html"/>
      <meta charset="UTF-8"/>
      <meta http-equiv="CONTENT-TYPE"/>
      <style>
        body{background-color: #000000;}
        #content
        {width:900px;background-color: #ffffff;border-radius:15px;box-shadow:10px 10px 5px #808080;}
      </style>
    </head>
    <body>
        <div id="content">
          <h1>Welcome to codeSpork.com, <%=	 @user.user_name %></h1>
          <p>You have just registered for the most awesome forum site, <a href="http://codespork.com">codeSpork.com</a>!<br/>
            <ol>
                Some things we'd like to go over:
                <li>This is a site designed to get assistance - not answers, so please do not try to cheat!</li>
                <br>
                <li>codeSpork is geared towards beginning developers, so please keep your posts readable.</li>
                <br>
                <li> If you have any issues, please feel free to contact one of our administrators. </li>
            </ol>
            Other than that, have fun and good luck!<br/>
            To login, please follow this link: <a href="http://codespork.com/users/sign_in">Sign in!</a><br>
          Sincerely,
          <%= image_tag("dry-humor-logo.jpg", class: "dry_logo", height: "75", width: "112")%>
          </p>

        </div>
    </body>
</html>