/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body
{
    background-color: #000000;
    height: 100%;
    width: 100%;
}

body
{
    margin: 0;
    font-size: 1.5em;
}

.clearfix {
    clear: both;
}
.right {
  text-align: right;
}

.sideNav{
  .current {
    background-color: black;
    color: white;
  }
}

.breakall {
  word-break: break-all;
}

/*container formatting*/
#container
{
    width: 95%;
    margin: 0 auto;
    height: 100%;
    min-height: 700px;

    th {
      padding: 15px 0;
    }
}

.innerContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

/* main tag formatting */
.headerBar
{   background-color: #003366;
    background-image: -webkit-gradient(
    	linear,
    	right bottom,
    	right top,
    	color-stop(0, #003366),
    	color-stop(1, #D5D4D4)
    );
    background-image: -o-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: -moz-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: -webkit-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: -ms-linear-gradient(top, #003366 0%, #D5D4D4 100%);
    background-image: linear-gradient(to top, #003366 0%, #D5D4D4 100%);

    color: #FFF8DC;
    padding: 0 1%;

    img {
      opacity: .7;
      max-width: 100%;
      align: center;
    }
}
#head-banner
{

}

.topNav
{
    background-color: #CCCC99;
    color:#00aeae;
  margin-bottom: .5%;


    a {
      margin: 0;
      display: inline-block;
      color: #003366;
      padding:10px;
      &:hover { background-color:#000000; color:#ffffff; }
      &:active { color: #ff0000; }
    }
}

.sideNav
{
    font-size: .8em;
    float: left;
    width: 14%;
    background-color: #485f93;
    height: 70%;
    padding: 0px 1%;



    a {
      display: block;
    }
}


.mainContent
{
    width: 66%;
    background-color: #ffffff;
    height:70%;
    overflow-y: scroll;
    padding-right: 1%;
    padding-left: 1%;
    float: left;
    margin-bottom: .5%;


    a {
      color: grey;
    }
}


.rightAside
{
    float: right;
    width: 10%;
    background-color: #485f93 ;
    height: 70%;
    padding: 0px 1%;
    border-radius: 10px;

}

.btmFooter
{
   background-color: #003366;
    background-image: -webkit-gradient(
    	linear,
    	right top,
    	right bottom,
    	color-stop(0, #003366),
    	color-stop(1, #D5D4D4)
    );
    background-image: -o-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: -moz-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: -webkit-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: -ms-linear-gradient(bottom, #003366 0%, #D5D4D4 100%);
    background-image: linear-gradient(to bottom, #003366 0%, #D5D4D4 100%);
    color: #FFF8DC;
    clear: both;
    padding-left: 1%;
}

/* additional tag formatting */
h2{color: #003366;}
h3{color: #FFF8DC;}
h4{color: #FFF8DC;}

/* basic link */
a {
  text-decoration: none;
  color: #ffffff;
  &:hover { color: #ffff00; }
}

.deletelink {
  display: block;
  font-size: .7em;
  text-align: right;
  margin-bottom: 10px;
}

.replies {
  border-top: 1px dashed black;
  margin: 0;
}
.replies:last-child {
  border-bottom: 1px dashed black;
}

#tabs {
  li {
    font-size: .5em;
  }
}
.ui-tabs.ui-tabs-vertical {
  padding: 0;
  width: 23em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
  border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
  float: left;
  width: 4em;
  background: #CCC;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  margin: 0.2em 0;
  border: 1px solid gray;
  border-width: 1px 0 1px 1px;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
  position: relative;
  right: -2px;
  z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
  width: 100%;
  padding: 0.6em 1em;
  text-align: left;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
  cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0.2em;
  padding-bottom: 0;
  border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
  margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
  float: left;
  width: 8em;
  border-left: 1px solid gray;
  border-radius: 0;
  position: relative;
  left: -1px;
}


// Media Queries
@media screen and (max-width: 780px) {
  .sideNav {
    width: 18%;
  }
  .rightAside {
    clear: both;
    height: auto;
    width: 98%;
  }
  .mainContent {
    width: 78%;
  }
}

@media screen and (max-width: 640px){
  .topNav {
    a {
      display: block;
      text-align: center;
    }
  }
  .sideNav {
    width: 98%;
    height: auto;
    a {
      display: inline-block;
      margin: 20px;
    }
  }
  .mainContent {
    clear: both;
    width: 98%;
  }
}

@media screen and (max-width: 480px){
  #container {
    width: 100%;
  }
}

.home-list
{
  width:80%;
  font-size: 1.1em;

}
.dry_logo
{
  padding-top: 1%;
}