// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.innerContainer {
  .field {
    text-align: center;
    textarea {
      height: 170px;
      width: 230px;
    }
  }
}

.lang {
  font-size: .8em;
  span {
    display: block;
    width: 200px;
    margin: 5px;
  }
  span:nth-child(even){
    float: left;
  }
  span:nth-child(odd){
    float: right;
  }
  &~div {
    position: relative;
    top: 10px;
  }
}

.center {
  text-align: center;
}