// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.splash_main {
  width: 95%;
  height: 95%;
}

.splash_logo {
  position:relative;
  top: 10%;
  width: 90%;
  img {
    width: 100%;
  }
  margin: 0 auto;
}

.splat {
  position:relative;
  top: 10%;
  width: 90%;
  height: 400px;
  margin: 0 auto;
  padding: 0;
  background: image_url('splat.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.splash_btn {
  position:relative;
  top: 35%;
  left: 15%;
  display: block;
  width: 18%;
  min-width: 160px;
  margin: 1%;
  padding: 1%;
  float: left;
  text-align: center;
  font-size: 2em;
  background-color: midnightblue;
  border-radius: 10px;
}

.splash_login {
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 27%;
  padding: 0;
  h2 {
    margin: 0;
  }
  div {
    display: inline-block;
    margin: 10px;
    &:last-child {
      display: block;
      text-align: right;
      input {
        margin: 0 10px;
      }
    }
  }
}