<h3>Programming/Coding Terminology</h3>

<dl>
    <dt>Object Oriented Programming (OOP)</dt>
    <dd>-a programming that incorporates other segments of external code. Example: Java</dd>
    <br>
    <dt>Backend</dt>
    <dd>-a task or operation being performed in the background without the user being aware of it, however, in the realm
        of programming and development, the "back end" is what describes someone who actually designs and develops
        programs
        and scripts that process data and perform tasks the user doesn't see.
    </dd>
    <br>
    <dt>Back End Developer</dt>
    <dd>-responsible for how the server sends the information to the visitor and handle any scripts that process
        background information or perform tasks.
    </dd>
    <br>
    <dt>Boolean</dt>
    <dd>-Boolean expressions are used when you either need a True or False value.</dd>
    <br>
    <dt>Class</dt>
    <dd>-In OOP, this is reference to a set of related objects (see <a href="#object">Objects</a> ) that share commom
        characteristics. Classes and the creation of new classes are what makes OOP a powerful and flexible program
        model.
    </dd>
    <dd>-In HTML/CSS, class is used as a selector to specify styles on an HTML element.</dd>
    <br>
    <dt>Compile</dt>
    <dd>-It is the process of creating an executable program from compiled programming coding language that allows the
        computer to run and understand the program without the programming software used to build it.
    </dd>
    <br>
    <dt>Concatenate</dt>
    <dd>-Describes combining a <a href="#string">string</a>, text, or data together or into one string or one file</dd>
    <br>
    <dt>Integer</dt>
    <dd>--a whole number (not a fraction) that can be positive, negative, or zero, and can NOT contain decimal places. </dd>
    <br>
    <dt>Float</dt>
    <dd>--also known as a "Floating Point", a float is a computer programming version of a decimaled number.</dd>
    <dd>--in CSS, a float is a property of an element that takes the selected element and "cuts" it out of the normal
        flow of the page and places it to the left or right of the container it was in.
    </dd>
    <br>
    <dt>Front end</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas nisi non felis ullamcorper euismod.
        Morbi at pellentesque nisl. Pellentesque.
    </dd>
    <br>
    <dt>Function</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas nisi non felis ullamcorper euismod.
        Morbi at pellentesque nisl. Pellentesque.
    </dd>
    <br>
    <dt>GUI</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas nisi non felis ullamcorper euismod.
        Morbi at pellentesque nisl. Pellentesque.
    </dd>
    <br>

    <dt id="object">Object</dt>
    <dd>--everything in programming is called an object.</dd>
    <br>
    <dt id="string">String</dt>
    <dd>--used in programming, a string is a data type, like a number(integer) or a decimal(float), but is mainly used
        to represent a text value instead.
    </dd>
    <br>
</dl>