<h2>Welcome to codeSpork!</h2>

<p>This website is dedicated to the beginner Developer. </p>

<h2>Change log:</h2><hr/>
<% Changelog.all.each do |changelog| %>
    <%= changelog.created_at %> <br/>
    <%= changelog.user %>: <%= changelog.content %><br/><hr/>
<% end %>